*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    scroll-padding-top: 2vw;
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/BG.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
}

.one{
    margin-left: 17vw;
    margin-left: 17vw;
}

.logo{
    padding: 1.2vw 0;
    padding-left: 17vw;
}

.span{
    font-size: 1.2rem;
    font-weight: 600;
}

.logo a{
    text-decoration: none;
    border: 0.1rem solid #a53eff;
    background-color: #a53eff;
    color: white;
    padding: 0.5vw 0.8vw;
    margin-right: 0.5vw;
    border-radius: 50%;
    
}

.navbar{
    display: flex;
    gap: 17.8vw;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar ol{
    display: flex;
    gap: 2.1vw;
    padding: 1.2vw 0;
    margin-left: 2vw;
}

.navbar ol a{
    text-decoration: none;
    color: black;
    font-size: 0.82rem;
    transition: 0.3s ease-in-out;
}
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 85vw;
    margin-top: -5.5vw;
    margin-bottom: 1.5vw;
    transition: all 0.3s ease-in-out;
}
.hamburger span{
    height: 0.5vw;
    width: 7vw;
    background: #a43dff;
    margin: 0.6vw;
    padding-bottom: 1vw;
    border-radius: 0.5vw;
    transition: all 0.4s ease;
}
.hamburger.active span:nth-child(1){
   transform: rotate(45deg) translate(0.5vw,0.5vw);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
     transform: rotate(-45deg) translate(0.5vw,-0.5vw);
}

.navbar ol a:hover{
    color: white;
}
#home:hover{
    border: 0.08rem solid #a53eff;
    background-color: #a53eff;
    padding: 0.3vw 0.8vw;
    border-radius: 0.3vw;
}
#about:hover{
border: 0.08rem solid #a53eff;
    background-color: #a53eff;
    padding: 0.3vw 0.8vw;
    border-radius: 0.3vw;
}
#Process:hover{
border: 0.08rem solid #a53eff;
    background-color: #a53eff;
    padding: 0.3vw 0.8vw;
    border-radius: 0.3vw;
}
#portfolio:hover{
border: 0.08rem solid #a53eff;
    background-color: #a53eff;
    padding: 0.3vw 0.8vw;
    border-radius: 0.3vw;
}
#blog:hover{
border: 0.08rem solid #a53eff;
    background-color: #a53eff;
    padding: 0.3vw 0.8vw;
    border-radius: 0.3vw;
}
#services:hover{
    border: 0.08rem solid #a53eff;
        background-color: #a53eff;
        padding: 0.3vw 0.8vw;
        border-radius: 0.3vw;
}
#contact:hover{
border: 0.08rem solid #a53eff;
    background-color: #a53eff;
    padding: 0.3vw 0.8vw;
    border-radius: 0.3vw;
}

.intro{
    display: flex;
    margin-top: 5vw;
    margin-bottom: 29vw;
}
.intro h2{
    font-size: 2.4rem;
    padding-top: 8vw;
    line-height: 1.3;
    padding-bottom: 1.3vw;
    letter-spacing: 0.05vw;
    font-size: 550;
}
.intro p{
    font-size: 0.7rem;
    line-height: 1.7;
    padding-bottom: 1.5vw;
}
.intro a{
    text-decoration: none;
    color: white;
    border: 0.1vw solid #a53eff;
    background-color: #a53eff;
    padding: 0.7vw 1vw;
    font-size: 0.72rem;
    border-radius: 0.3vw;
}
.intro img{
    width: 35vw;
    height: 40vw;
    position: relative;
    left: 5.2vw;
}
.periods{
    display: flex;
    padding-top: 5vw;
    gap: 0.3vw;
    text-align: center;
    font-size: 0.7rem;
}
.period span{
    font-size: 1.2rem;
    font-weight: 500;
}
.period{
    border: 0.1vw solid #f7ebff;
    background-color: #f7ebff;
    padding: 0.5vw 1.8vw;
    border-radius: 0.4vw;
}

.about{
    display: flex;
    gap: 8vw;
    border: 0.1vw solid white;
    padding: 4vw 5.5vw;
    border-radius: 0.7vw;
    background-color: white;
    width: 65vw;
    position: absolute;
    left: 17vw;
    top: 57.5vw;
    box-shadow: 0 0 25px #ecebeb;
}
.about .pics{
    width: 20vw;
    height: 21vw;
    padding-left: 0.3vw;
    position: relative;
}
.about h3{
    font-size: 1.4rem;
    font-weight: 505;
    line-height: 1.5;
    padding-bottom: 1.2vw;
    letter-spacing: 0.03vw;
}
.about p{
    font-size: 0.72rem;
    line-height: 1.5;
    width: 25vw;
    padding-bottom: 0.6vw;
}
#add{
    margin-bottom: 1.1vw;
}
.learn{
    padding-top: 3vw;
}
.learn .bx-download{
    font-size: 1.2rem;
    position: relative;
    top: 0.4vw;
    left: -0.5vw;
}
.learn a{
    text-decoration: none;
    font-size: 0.7rem;
    margin-right: 1vw;
    border: 0.1vw solid #a43dff;
    color: #a43dff;
    font-weight: 505;
    padding: 0.7vw 1.5vw;
    transition: 0.6s ease-in-out;
}
.learn a:hover{
    color: white;
    background-color: #a43dff;
}
.know a img{
     margin-left: -1vw;
     width: 3vw;
}
.socials{
     position: absolute;
     left: 9.8vw;
     font-size: 1.2rem;
     top: 23.4vw;
     background-color: white;
     padding: 0.7vw 1.2vw 0.3vw;
     border-radius: 0.3vw;
     box-shadow: 0 2px 20px #c0bebe;
     transition: 0.5s ease-in-out;
}
.socials a{
    color: #a43dff;
}
.socials a:hover{
    color: white;
    background-color: #a43dff;
    padding: 0.4vw 0.5vw 0;
    border-radius: 0.3vw;
}
.gray{
     background-color: #f0f1f3;
     margin-top: 8vw;
}
.experience{
    display: flex;
    padding-top: 9vw;
    padding-bottom: 6vw;
    gap: 8.7vw;
    margin-left: 17vw;
    margin-right: 17vw;
}
.work{
    margin-top: 6vw;
}
.work h3{
   font-size: 1.3rem;
   font-weight: 505;
   padding-bottom: 1.3vw;
}

 .grid .bx{
    font-size: 1.7rem;
        color: #b975f5;
        background-color: #f5e9fd;
        padding: 0.5vw 0.8vw;
        margin-bottom: 0.5vw;
        border-radius: 0.2vw;
        transition: 0.5s ease-in-out;
}
.grid .bx:hover{
    color: white;
    background-color: #a43dff;
}
.work p{
    width: 24vw;
    font-size: 0.7rem;
    line-height: 1.5;
    padding-bottom: 1vw;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2vw;
    overflow: visible;
}
.grid h4{
    font-size: 0.9rem;
    font-weight: 510;
    padding-bottom: 1vw;
}
.grid p{
    font-size: 0.7rem;
    width: 13vw;
    line-height: 1.5;
}
.dolor{
    border: 0.1vw solid white;
    padding: 1vw 1.5vw;
    background-color: white;
    border-radius: 0.3vw;
}
.dolor2{
    border: 0.1vw solid white;
    transform: translateY(0.7vw);
    padding: 1vw 1.5vw;
    background-color: white;
    border-radius: 0.3vw;
}

.portfolio{
    margin-left: 17vw;
    margin-right: 17vw;
    margin-top: 4vw;
    padding-bottom: 2vw;
}
.portfolio h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 510;
    letter-spacing: 0.03vw;
    padding-bottom: 0.9vw;
}
.portfolio p{
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.5;
    padding-bottom: 2.5vw;
}
.grids{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    margin-bottom: 2.5vw;
    gap: -1vw;
    width: 65.8vw;
}
.grids img{
    width: 21vw;
    padding-bottom: 1vw;
}
.grids p{
    text-align: start;
    padding-bottom: 0.4vw;
    font-size: 0.7rem;
    margin-left: 0.9vw;
    padding-top: 1vw;
}
.cards h4{
    margin-left: 0.9vw;
    font-weight: 510;
}
.cards h6{
    margin-left: 0.9vw;
    font-weight: 500;
    padding-bottom: 0.3vw;
}
.cards{
     border: 0.1vw solid #e9e8e9;
     width: 21vw;
     border-radius: 0.45vw;
     margin-bottom: 0.9vw;
     padding-bottom: 1.5vw;
     transition: 0.3s ease-in-out;
}
.cards:hover{
    background-color: white;
    border: 0.1vw solid white;
    box-shadow: 0 0 15px #e7e7e7;
    transform: scale(1.01);
}
.cards a{
    margin-left: 0.9vw;
    text-decoration: none;
    border: 0.1vw solid #a43dff;
    color: #a43cff;
    padding: 0.5vw 1vw;
    font-size: 0.72rem;
    border-radius: 0.3vw;
    transition: 0.5s ease-in-out;
}
.case {
    padding-bottom: 1vw;
    padding-top: 1.5vw;
}

.bx-right-arrow-alt{
    font-size: 1rem;
    position: relative;
    top: 0.4vw;
}
.cards a:hover{
    color: #ffffff;
    background-color: #a43dff;
}
#more{
    text-decoration: none;
    color: white;
    border: 0.1vw solid #a43dff;
    background-color: #a43dff;
    padding: 0.5vw 1vw;
    font-size: 0.75rem;
    border-radius: 0.3vw;
    margin-left: 28.2vw;
    position: relative;
    top: -1.5vw;
}


.idea{
    background-color: #132239;
    text-align: center;
    color: white;
    padding-bottom: 3.5vw;
}
.idea h2{
     font-size: 1.2rem;
     font-weight: 500;
     padding-top: 4vw;
     padding-bottom: 1vw;
     letter-spacing: 0.04vw;
}
.idea p{
    font-size: 0.7rem;
    line-height: 1.5;
    padding-bottom: 0.8vw;
}
.mobile{
    display: none;
}
.idea a{
    color: white;
    text-decoration: none;
        border: 0.1vw solid #a43dff;
        background-color: #a43dff;
        padding: 0.5vw 1vw;
        font-size: 0.75rem;
        border-radius: 0.3vw;
}

.blog{
    margin-left: 17.5vw;
    margin-right: 17.5vw;
    margin-top: 4vw;
}

.blog h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 0.02vw;
    padding-bottom: 0.9vw;
    font-family: sans-serif;
}
.blog p{
     text-align: center;
     font-size: 0.7rem;
    line-height: 1.5;
    padding-bottom: 2vw;
}
.flex{
    display: flex;
    gap: 1.5vw;
    padding-bottom: 1vw;
}
 
.flex img{
    width: 15vw;
    height: 9vw;
}
.flex p{
    text-align: start;
    font-weight: 500;
    padding-left: 1.2vw;
}
.flex h6{
    font-size: 0.6rem;
    font-weight: 100;
    padding-bottom: 0.8vw;
    padding-top: 0.8vw;
    padding-left: 1.2vw;
    color: #0707079c;
}
.blogs{
    border: 0.1vw solid #ecebeb;
}
.blogs:hover{
    background-color: white;
    border: 0.1vw solid #fcfbfb;
    box-shadow: 0 0 15px #e9e8e9;
}
.pagination{
    text-align: center;
}
.paginations{
    text-align: center;
    padding: 2vw 0 0;
}

.works{
    display: flex;
    gap: 8vw;
    padding-top: 8vw;
    padding-bottom: 5vw;
     margin-left: 17.2vw;
    margin-right: 17.2vw;
} 
.works h3{
    font-size: 1.5rem;
    letter-spacing: 0.03vw;
    font-weight: 505;
    padding-bottom: 2vw;
}
.works h4{
    font-weight: 505;
    font-size: 1rem;
    letter-spacing: 0.03vw;
    padding-bottom: 0.8vw;
}
.works p{
    font-size: 0.7rem;
    width: 32vw;
    line-height: 1.5;
}
.done{
    padding-top: 7vw;
}
.done p{
    font-size: 0.7rem;
    padding-bottom: 1vw;
    width: 24vw;
    line-height: 1.5;
}
#non{
    padding-bottom: 3vw;
}
.user{
    margin-bottom: 2vw;
    border: 0.1vw solid white;
    background-color: white;
    padding: 1.4vw 1.6vw;
    border-radius: 0.3vw;
    transition: 0.5s ease-in-out;
}
.user:hover{
    border-left: 0.3vw solid #a43dff;
}
.works a{
text-decoration: none;
    color: white;
    border: 0.1vw solid #a53eff;
    background-color: #a53eff;
    padding: 0.7vw 1vw;
    font-size: 0.72rem;
    border-radius: 0.3vw;
}
.client{
    margin-left: 16vw;
    margin-right: 17vw;
}
.client h3{
    text-align: center;
        font-size: 1.5rem;
        font-weight: 510;
        letter-spacing: 0.02vw;
        padding-bottom: 0.9vw;
        margin-top: 5vw;
}
.client p{
    text-align: center;
        font-size: 0.7rem;
        line-height: 1.5;
}
.clients{
    display: flex;
    gap: 1vw;
}
.clients img{
    width: 10.5vw;
}

.review{
    margin-bottom: 2vw;
}
.review h3{
    font-weight: 510;
        letter-spacing: 0.02vw;
        padding-bottom: 0.9vw;
        margin-top: 2vw;
        text-align: center;
            font-size: 1.5rem;
}
.review p{
    text-align: center;
        font-size: 0.7rem;
        line-height: 1.5;
}
.customer-review{
    padding-top: 2.2vw;
    font-weight: 490;
}
.customer-review2{
    display: none;
}
 .review .customer-name{
    padding-top: 1vw;
    padding-bottom: 0.3vw;
    font-weight: 505;
    font-size: 0.8rem;
}


.contact{
    display: flex;
    margin-top: 2vw;
    padding-bottom: 2vw;
    gap: 4vw;
    width: 65vw;
    padding: 3vw 2.5vw 0;
    background-color: white;
    border: 0.1px solid #fcf9f9;
    border-radius: 0.3vw;
    position: absolute;
    left: 17.2vw;
    top: 341vw;
    box-shadow: 0 -3px 20px #dbdada;
}
.discuss{
    margin-bottom: 3vw;
}
.bottom-margin{
    margin-bottom: 1vw;
    padding: 0.3vw 0;
}
.discuss h3{
    font-weight: 510;
        letter-spacing: 0.02vw;
        padding-bottom: 0.9vw;
        font-size: 1.4rem;
}
.contact p{
    font-size: 0.8rem;
        line-height: 1.5;
        padding-bottom: 1vw;
}
.form p{
    padding-bottom: 2.5vw;
    padding-top: 0.5vw;
}
 .laptop {
     display: block;
 }

 .tablet {
     display: none;
 }
.icons{
    padding-top: 1vw;
}
.icons a{
   color: #a43dff;
   font-size: 1.2rem;
  transition: 0.5 ease-in-out;
}
.icons a:hover{
    color: white;
        background-color: #a43dff;
        padding: 0.4vw 0.4vw 0;
        border-radius: 0.3vw;
}
.location{
    font-size: 0.8rem;
    padding-bottom: 0.8vw;
    padding-top: -1vw;
    padding-left: 1vw;
    width: 15vw;
}
.location:hover{
    border: 0.1vw solid white;
    background-color: white;
    box-shadow: 0 0 20px #e7e7e7;
    border-radius: 0.3vw;
}
.location .locate{
    margin-left: 0.6vw;
}
.location .where {
    font-weight: 490;
    padding-left: 3.8vw;
}
.fa-location-dot{
    font-size: 1.3rem;
    position: relative;
    top: 1.2vw;
    border: 0.1vw solid #f5e9fd;
    color: #a43dff;
        background-color: #f5e9fd;
        padding: 0.5vw 0.8vw;
        border-radius: 0.3vw;
        transition: 0.5 ease-in-out;
}
.fa-location-dot:hover{
    color: white;
        background-color: #a43dff;
        border: 0.1vw solid #a43cff;
}
.form input{
    border: none;
    background-color: transparent;
}
input:focus{
    outline: none;
    background-color: transparent;
    border: none;
    padding-left: 1vw;
}
.form textarea{
border: none;
resize: none;
outline: none;
height: 2.5vh;
padding-left: 1vw;
    background-color: transparent;
}
.form label{
    font-size: 0.85rem;
}
.form .input{
    border-bottom: 0.13vw solid #c0bebe;
    width: 30vw;
    margin-bottom: 1.2vw;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.form .input3{
    border-bottom: 0.13vw solid #c0bebe;
        width: 30vw;
        margin-bottom: 1.2vw;
        overflow: hidden;
        transition: 0.3s ease-in-out;
}
.form .input4{
    display: none;
}
.form .input:hover{
    border-bottom: 0.14vw solid #a43dff;
    color: #a43dff;
}
.form .input3:hover {
    border-bottom: 0.14vw solid #a43dff;
    color: #a43dff;
}
.form .input4:hover {
    border-bottom: 0.14vw solid #a43dff;
    color: #a43dff;
}
.input2{
    display: flex;
    gap:1vw;
    width: 30vw;
    height: 3vw;
}

#budg{
    flex: 1 1 0;
}
#sub{
   flex: 1.5 1 0;
}

.contact button{
    color: white;
        border: 0.1vw solid #a53eff;
        background-color: #a53eff;
        padding: 0.5vw 1.2vw 0.6vw;
        font-size: 0.72rem;
        border-radius: 0.3vw;
        margin-top: 2vw;
}
.bx-send{
    font-size: 1rem;
        position: relative;
        top: 0.23vw;
        left:0.3vw;
}




.footer{
    display: flex;
    gap: 10vw;
    color: white;
    background-color: #2b384b;
    padding-top: 8vw;
    padding-bottom: 2vw;
    margin-top: 35vw;
}
.footer ul{
    display: flex;
    gap: 1vw;
}
.footer a{
    text-decoration: none;
    color: white;
}
.foot{
    padding: 1.8vw 0;
    font-size: 0.7rem;
}


@media (max-width:768px) {
    body {
            background-image: url(../images/BG.jpg);
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Work Sans', sans-serif;
        }
    
        .one {
            margin-left: 7vw;
            margin-right: 7vw;
        }
    
        .logo {
            padding: 1.2vw 0;
            padding-left: 7vw;
            padding-top: 3.5vw;
        }
                 .logo a {
                     text-decoration: none;
                     border: 0.1rem solid #a53eff;
                     background-color: #a53eff;
                     color: white;
                     padding: 0.6vw 1.3vw;
                     margin-right: 0.9vw;
                     border-radius: 50%;
        
                 }
                .navbar {
                    display: flex;
                    gap: 16vw;
                    background-color: white;
                    position: fixed;
                    width: 100%;
                    z-index: 10;
                }
        .intro p{
            font-size: 0.78rem;
            width: 45vw;
        }
        .intro img{
            left: 2.5vw;
            width: 50vw;
            height: 56.5vw;
            padding-top: 5vw;
        }
    
        .about {
            display: flex;
            gap: 5.5vw;
            border: 0.1vw solid white;
            padding: 4vw 5.5vw;
            border-radius: 0.7vw;
            background-color: white;
            width: 86vw;
            position: absolute;
            left: 7vw;
            top: 67.8vw;
            box-shadow: 0 0 25px #ecebeb;
            z-index: 1;
        }
    
        .about .pics {
            width: 22vw;
            height: 23vw;
            padding-left: 0.3vw;
            position: relative;
        }
    
    
        .about p {
            font-size: 0.78rem;
            line-height: 1.5;
            width: 50vw;
            padding-bottom: 0.6vw;
        }
    
        .learn {
            padding-top: 0;
            padding-bottom: 1vw;
        }
    
        .socials {
            position: absolute;
            left: 7vw;
            font-size: 1.2rem;
            top: 24.8vw;
            background-color: white;
            padding: 0.7vw 1.2vw 0.3vw;
            border-radius: 0.3vw;
            box-shadow: 0 2px 20px #c0bebe;
            transition: 0.5s ease-in-out;
        }
    
        .gray {
            background-color: #f0f1f3;
            margin-top: 10vw;
        }
    
        .experience {
            display: flex;
            padding-top: 9vw;
            padding-bottom: 6vw;
            gap: 3.7vw;
            margin-left: 7vw;
            margin-right: 7vw;
        }
    
        .work {
            margin-top: 6vw;
        }
    
        .work h3 {
            font-size: 1.3rem;
            font-weight: 505;
            padding-bottom: 1.3vw;
        }
    
        .grid .bx {
            font-size: 1.7rem;
            color: #b975f5;
            background-color: #f5e9fd;
            padding: 0.5vw 0.8vw;
            margin-bottom: 0.5vw;
            border-radius: 0.2vw;
            transition: 0.5s ease-in-out;
        }
    
        .grid .bx:hover {
            color: white;
            background-color: #a43dff;
        }
    
        .work p {
            width: 38vw;
            font-size: 0.78rem;
            line-height: 1.5;
            padding-bottom: 1vw;
        }
    
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.2vw;
            overflow: visible;
        }
    
        .grid h4 {
            font-size: 0.9rem;
            font-weight: 510;
            padding-bottom: 1vw;
        }
    
        .grid p {
            font-size: 0.78rem;
            width: 18vw;
            line-height: 1.5;
        }
    
        .dolor {
            border: 0.1vw solid white;
            padding: 1vw 1.5vw;
            background-color: white;
            border-radius: 0.3vw;
        }
    
        .dolor2 {
            border: 0.1vw solid white;
            transform: translateY(0.7vw);
            padding: 1vw 1.5vw;
            background-color: white;
            border-radius: 0.3vw;
        }
    
        .portfolio {
            margin-left: 7vw;
            margin-right: 7vw;
            margin-top: 4vw;
            padding-bottom: 2vw;
        }
    
        .portfolio h3 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 510;
            letter-spacing: 0.03vw;
            padding-bottom: 0.9vw;
        }
    
        .portfolio p {
            text-align: center;
            font-size: 0.78rem;
            line-height: 1.5;
            padding-bottom: 2.5vw;
        }
    
        .grids {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 3.5vw;
            gap: 3vw;
            width: 87vw;
        }
    
        .grids img {
            width: 40vw;
            height: 20vw;
            padding-bottom: 1vw;
        }
    
        .grids p {
            text-align: start;
            padding-bottom: 0.6vw;
            font-size: 0.78rem;
            margin-left: 0.9vw;
            padding-top: 1vw;
        }
    
        .cards h4 {
            margin-left: 0.9vw;
            font-weight: 510;
        }
    
        .cards h6 {
            margin-left: 0.9vw;
            font-weight: 500;
            padding-bottom: 0.3vw;
        }
    
        .cards {
            border: 0.1vw solid #e9e8e9;
            width: 40vw;
            border-radius: 0.45vw;
            margin-bottom: 1.2vw;
            padding-bottom: 2vw;
            transition: 0.3s ease-in-out;
        }
    .bx-right-arrow-alt {
            font-size: 1rem;
            position: relative;
            top: 0.5vw;
        }
    
        #more {
            text-decoration: none;
            color: white;
            border: 0.1vw solid #a43dff;
            background-color: #a43dff;
            padding: 0.5vw 1vw;
            font-size: 0.8rem;
            border-radius: 0.3vw;
            margin-left: 36.5vw;
            position: relative;
            top: -1.5vw;
        }
    
    
        .idea {
            background-color: #132239;
            text-align: center;
            color: white;
            padding-bottom: 3.5vw;
        }
    
        .idea h2 {
            font-size: 1.2rem;
            font-weight: 500;
            padding-top: 5vw;
            padding-bottom: 2vw;
            letter-spacing: 0.04vw;
        }
    
        .idea p {
            font-size: 0.78rem;
            line-height: 1.5;
            padding-bottom: 1vw;
        }
    
        .idea a {
            color: white;
            text-decoration: none;
            border: 0.1vw solid #a43dff;
            background-color: #a43dff;
            padding: 0.5vw 1vw;
            font-size: 0.75rem;
            border-radius: 0.3vw;
        }
    
        .blog {
            margin-left: 7.5vw;
            margin-right: 7.5vw;
            margin-top: 4vw;
        }
    
        .blog h3 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 550;
            letter-spacing: 0.02vw;
            padding-bottom: 0.9vw;
            font-family: sans-serif;
        }
    
        .blog p {
            text-align: center;
            font-size: 0.78rem;
            line-height: 1.5;
            padding-bottom: 2vw;
        }
    
        .flex {
            display: flex;
            gap: 1.5vw;
            padding-bottom: 1vw;
            padding-top: 1vw;
        }
    
        .flex img {
            width: 20vw;
            height: 12.5vw;
        }
    
        .flex p {
            text-align: start;
            font-weight: 500;
            padding-left: 1.2vw;
        }
    
        .flex h6 {
            font-size: 0.6rem;
            font-weight: 100;
            padding-bottom: 0.8vw;
            padding-top: 0.8vw;
            padding-left: 1.2vw;
            color: #0707079c;
        }
    
        .blogs {
            border: 0.1vw solid #ecebeb;
        }
    
        .blogs:hover {
            background-color: white;
            border: 0.1vw solid #fcfbfb;
            box-shadow: 0 0 15px #e9e8e9;
        }
    
        .pagination {
            text-align: center;
        }
    
        .paginations {
            text-align: center;
            padding: 2vw 0 0;
        }
    
        .works {
            display: flex;
            gap: 9vw;
            padding-top: 8vw;
            padding-bottom: 5vw;
            margin-left: 7.3vw;
            margin-right: 7.3vw;
        }
    
        .works p {
            font-size: 0.78rem;
            width: 38vw;
            line-height: 1.5;
        }
    
        .done {
            padding-top: 7vw;
        }
    
        .done p {
            font-size: 0.78rem;
            padding-bottom: 1vw;
            width: 35vw;
            line-height: 1.5;
        }
        .client {
            margin-left: 6vw;
            margin-right: 7vw;
        }
    
        .client h3 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 510;
            letter-spacing: 0.02vw;
            padding-bottom: 0.9vw;
            margin-top: 5vw;
        }
    
        .client p {
            text-align: center;
            font-size: 0.78rem;
            line-height: 1.5;
        }
    
        .clients {
            display: flex;
            gap: 2vw;
        }
    
        .clients img {
            width: 15vw;
        }
    
        .review {
            margin-bottom: 0;
        }
    
        .review p {
            text-align: center;
            font-size: 0.78rem;
            line-height: 1.5;
        }
    
        .customer-review {
            padding-top: 2.2vw;
            font-weight: 490;
        }
    
        .review .customer-name {
            padding-top: 1vw;
            padding-bottom: 0.3vw;
            font-weight: 505;
            font-size: 1rem;
        }
    
    
        .contact {
            display: flex;
            margin-top: 2vw;
            padding-bottom: 2vw;
            gap: 4vw;
            width: 86vw;
            padding: 3vw 2.5vw 0;
            background-color: white;
            border: 0.1px solid #fcf9f9;
            border-radius: 0.3vw;
            position: absolute;
            left: 7.2vw;
            top: 527.5vw;
            box-shadow: 0 -3px 20px #dbdada;
        }
    
        .discuss {
            margin-bottom: 4vw;
        }
    
        .bottom-margin {
            margin-bottom: 1vw;
            padding: 0.3vw 0;
        }
    
        .discuss h3 {
            font-weight: 510;
            letter-spacing: 0.02vw;
            padding-bottom: 0.9vw;
            font-size: 1.4rem;
        }
    
        .contact p {
            font-size: 0.78rem;
            line-height: 1.5;
            padding-bottom: 1vw;
        }
    
        .form p {
            padding-bottom: 3.5vw;
            padding-top: 0.5vw;
        }
         .laptop{
            display:none;
         }
         .tablet{
            display: block;
         }
        .icons {
            padding-top: 1vw;
        }
        .location .where {
            font-weight: 490;
            padding-left: 4.9vw;
        }
        .location {
            font-size: 0.8rem;
            padding-bottom: 0.8vw;
            padding-top: -1vw;
            padding-left: 1vw;
            width: 25vw;
        }
    
        .fa-location-dot {
            font-size: 1.3rem;
            position: relative;
            top: 1.7vw;
            border: 0.1vw solid #f5e9fd;
            color: #a43dff;
            background-color: #f5e9fd;
            padding: 0.5vw 0.8vw;
            border-radius: 0.3vw;
            transition: 0.5 ease-in-out;
        }
    
        .form .input {
            border-bottom: 0.13vw solid #c0bebe;
            width: 30vw;
            margin-bottom: 1vw;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            height: 4vw;
        }
        .input2 {
            display: flex;
            gap: 1vw;
            width: 30vw;
            height: 4vw;
        }
        .contact button {
         padding: 0.5vw 1.2vw 1vw;
                    font-size: 0.78rem;
                    border-radius: 0.3vw;
                    margin-top: 2vw;
                }
        .bx-send {
            font-size: 1rem;
            position: relative;
            top: 0.7vw;
            left: 0.3vw;
        }
    
        .footer {
            display: flex;
            gap: 8vw;
            color: white;
            background-color: #2b384b;
            padding-top: 10vw;
            padding-bottom: 2vw;
            margin-top: 52vw;
        }
}


@media (max-width:430px) {
    body {
        background-image: url(../images/BG.jpg);
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Work Sans', sans-serif;
    }

    .one {
        margin-left: 7vw;
        margin-right: 6vw;
    }

    .logo {
        padding: 2vw 0 1.2vw;
        padding-left: 6vw;
        padding-top: 3.5vw;
    }
        .logo a {
            text-decoration: none;
            border: 0.1rem solid #a53eff;
            background-color: #a53eff;
            color: white;
            padding: 0.5vw 1.8vw;
            margin-right: 0.9vw;
            border-radius: 50%;
    
        }
                .navbar {
                    display: block;
                    box-shadow: 0 0 2px #dad9d9;
                }
        .navbar ol {
            display: none;
            flex-direction: column;
            gap: 2.5vw;
            padding: 1.2vw 0;
            margin-left: 6vw;
        }
        .navlinks.active{
            display: flex;
        }
    .hamburger{
        display: flex;
    }

    .intro p {
        font-size: 0.9rem;
        width: 88vw;
        padding-bottom: 4vw;
    }
    .intro{
        flex-direction: column;
        padding-top: 8vw;
    }
    .intro a{
        padding: 1.2vw 1.8vw;
        font-size: 0.9rem;
    }
    .intro img {
        left: -18vw;
        width: 122.5vw;
        height: 120.5vw;
        padding-top: 2vw;
    }
    .periods{
        gap: 2vw;
        margin-top: 2vw;
        padding-bottom: 1vw;
        padding-left: 0.4vw;
    }
    .about {
        display: flex;
        flex-direction: column-reverse;
        gap: 5.5vw;
        border: 0.1vw solid white;
        padding: 6vw 5.5vw;
        border-radius: 0.7vw;
        background-color: white;
        width: 86vw;
        margin-top: 140vw;
        box-shadow: 0 0 25px #ecebeb;
        /* z-index: 1; */
    }

    .about .pics {
        width: 73.9vw;
        height: 82.5vw;
        padding-left: 0.3vw;
        position: relative;
    }
        .learn .bx-download {
            font-size: 1.2rem;
            position: relative;
            top: 0.8vw;
            left: -0.5vw;
        }
    
        .learn a {
            font-size: 0.9rem;
            margin-right: 1.5vw;
            padding: 1.2vw 2.5vw;
            transition: 0.6s ease-in-out;
        }

    .about p {
        font-size: 0.9rem;
        line-height: 1.5;
        width: 75vw;
        padding-bottom: 1vw;
    }

    .learn {
        padding-top: 0;
        padding-bottom: 1.5vw;
    }
    #add{
        padding-bottom: 4.5vw;
    }
    .socials {
        position: absolute;
        left: 20vw;
        font-size: 1.7rem;
        top: 154vw;
        background-color: white;
        padding: 0.7vw 1.8vw 0.3vw;
        border-radius: 0.3vw;
        box-shadow: 0 2px 20px #c0bebe;
        transition: 0.5s ease-in-out;
    }

    .gray {
        background-color: #f0f1f3;
        margin-top: 2vw;
    }
    #process2{
        margin-top: 120vw;
    }

    .experience {
        display: flex;
        flex-direction: column;
        padding-top: 18vw;
        padding-bottom: 6vw;
        gap: 3.7vw;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .work {
        margin-top: 3vw;
    }

    .work h3 {
        font-size: 1.3rem;
        font-weight: 505;
        padding-bottom: 1.3vw;
    }

    .grid .bx {
        font-size: 3rem;
        color: #b975f5;
        background-color: #f5e9fd;
        padding: 1.5vw 2.5vw;
        margin-bottom: 0.5vw;
        border-radius: 0.3vw;
        transition: 0.5s ease-in-out;
    }

    .grid .bx:hover {
        color: white;
        background-color: #a43dff;
    }

    .work p {
        width: 85vw;
        font-size: 0.9rem;
        line-height: 1.5;
        padding-bottom: 1vw;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5vw;
        margin-top: 2vw;
        overflow: visible;
    }

    .grid h4 {
        font-size: 1.15rem;
        font-weight: 510;
        padding-bottom: 1vw;
    }

    .grid p {
        font-size: 0.9rem;
        width: 84vw;
        line-height: 1.5;
    }

    .dolor {
        border: 0.1vw solid white;
        padding: 1vw 1.5vw;
        background-color: white;
        border-radius: 0.3vw;
        padding: 4vw;
    }

    .dolor2 {
        border: 0.1vw solid white;
        padding: 1vw 1.5vw;
        background-color: white;
        border-radius: 0.3vw;
        padding: 4vw;
    }

    .portfolio {
        margin-left: 7vw;
        margin-right: 7vw;
        margin-top: 4vw;
        padding-bottom: 2vw;
    }

    .portfolio h3 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 510;
        letter-spacing: 0.03vw;
        padding-bottom: 0.9vw;
    }

    .portfolio p {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.5;
        padding-bottom: 2.5vw;
    }

    .grids {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 3.5vw;
        padding-bottom: 5vw;
        gap: 4vw;
        width: 87vw;
    }

    .grids img {
        width: 85vw;
        height: 46vw;
        padding-bottom: 1vw;
    }

    .grids p {
        text-align: start;
        padding-top: 1vw;
        padding-bottom: 2vw;
        font-size: 0.9rem;
        margin-left: 3vw;
        padding-top: 1vw;
    }

    .cards h4 {
        margin-left: 3vw;
        font-weight: 510;
    }

    .cards h6 {
        margin-left: 3vw;
        font-weight: 500;
        padding-bottom: 0.3vw;
    }

    .cards {
        border: 0.1vw solid #e9e8e9;
        width: 85.5vw;
        border-radius: 1.5vw;
        margin-bottom: 1.2vw;
        padding-bottom: 2vw;
        transition: 0.3s ease-in-out;
    }
         .case {
             padding-bottom: 3vw;
             padding-top: 1vw;
         }
         .cards a{
            margin: 3vw;
            padding: 1vw 1.5vw;
         }
    .bx-right-arrow-alt {
        font-size: 1rem;
        position: relative;
        top: 0.7vw;
    }

    #more {
        text-decoration: none;
        color: white;
        border: 0.1vw solid #a43dff;
        background-color: #a43dff;
        padding: 1vw 2vw;
        font-size: 1.1rem;
        border-radius: 0.3vw;
        margin-left: 28.5vw;
        position: relative;
        top: -1.5vw;
    }


    .idea {
        background-color: #132239;
        text-align: center;
        color: white;
        padding-bottom: 5.5vw;
        margin-top: 3vw;
    }

    .idea h2 {
        font-size: 1.3rem;
        line-height: 1.4;
        font-weight: 500;
        padding-top: 6vw;
        padding-bottom: 3vw;
        letter-spacing: 0.04vw;
    }

    .idea p {
        font-size: 0.9rem;
        line-height: 1.5;
        padding-bottom: 3vw;
    }

    .idea a {
        color: white;
        text-decoration: none;
        border: 0.1vw solid #a43dff;
        background-color: #a43dff;
        padding: 1vw 2vw;
        font-size: 1rem;
        border-radius: 0.3vw;
    }

    .blog {
        margin-left: 7.5vw;
        margin-right: 7.5vw;
        margin-top: 4vw;
    }

    .blog h3 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 550;
        letter-spacing: 0.02vw;
        padding-bottom: 0.9vw;
        font-family: sans-serif;
    }

    .blog p {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.5;
        padding-bottom: 2vw;
    }

    .flex {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2vw;
        padding-bottom: 1vw;
        padding-top: 1vw;
    }

    .flex img {
        width: 41vw;
        height: 23.5vw;
    }

    .flex p {
        text-align: start;
        font-weight: 500;
        padding-left: 1.2vw;
    }

    .flex h6 {
        font-size: 0.6rem;
        font-weight: 100;
        padding-bottom: 1.2vw;
        padding-top: 1.2vw;
        padding-left: 1.2vw;
        color: #0707079c;
    }

    .pagination {
        text-align: center;
    }

    .paginations {
        text-align: center;
        padding: 2vw 0 0;
    }

    .works {
        display: flex;
        flex-direction: column;
        gap: 9vw;
        padding-top: 8vw;
        padding-bottom: 5vw;
        margin-left: 7.3vw;
        margin-right: 7.3vw;
    }

    .works p {
        font-size: 0.9rem;
        width: 82vw;
        line-height: 1.5;
    }

    .done {
        padding-top: 7vw;
        padding-bottom: 2vw;
    }

    .done p {
        font-size: 0.9rem;
        padding-bottom: 1vw;
        width: 85vw;
        line-height: 1.5;
    }
.user {
    margin-bottom: 3.5vw;
    border: 0.1vw solid white;
    background-color: white;
    padding: 3vw 1.8vw;
    border-radius: 0.3vw;
    transition: 0.5s ease-in-out;
}
.works a {
    text-decoration: none;
    color: white;
    border: 0.1vw solid #a53eff;
    background-color: #a53eff;
    padding: 1vw 2vw;
    font-size: 0.9rem;
    border-radius: 0.3vw;
}
    .client {
        margin-left: 6vw;
        margin-right: 7vw;
    }

    .client h3 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 510;
        letter-spacing: 0.02vw;
        padding-bottom: 0.9vw;
        margin-top: 5vw;
    }

    .client p {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .clients {
        display: flex;
        gap: 1vw;
    }

    .clients img {
        width: 15vw;
    }

    .review {
        margin-bottom: 0;
        margin-left: 6vw;
        margin-right: 7vw;
    }

    .review p {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .customer-review {
        padding-top: 5.2vw;
        font-weight: 490;
    }

    .review .customer-name {
        padding-top: 2vw;
        padding-bottom: 0.9vw;
        font-weight: 505;
        font-size: 1.2rem;
    }


    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 1135vw;
        padding-bottom: 6vw;
        gap: 4vw;
        width: 86vw;
        padding: 3vw 2.5vw 0;
        background-color: white;
        border: 0.1px solid #fcf9f9;
        border-radius: 0.3vw;
        box-shadow: 0 -3px 20px #dbdada;
    }

    .discuss {
        margin-bottom: 4vw;
    }

    .bottom-margin {
        margin-bottom: 1vw;
        padding: 0.3vw 0;
    }

    .discuss h3 {
        font-weight: 510;
        letter-spacing: 0.02vw;
        padding-bottom: 1.5vw;
        font-size: 1.5rem;
        padding-left: 1vw;
    }

    .contact p {
        font-size: 0.9rem;
        line-height: 1.5;
        padding-bottom: 1vw;
    }

    .form p {
        padding-bottom: 3.5vw;
        padding-top: 0.5vw;
    }
    .form{
        padding-bottom: 8vw;
    }
    .laptop {
        display: none;
    }

    .tablet {
        display: block;
    }

    .icons {
        padding-top: 2vw;
        padding-left: 2vw;
    }
    .icons a{
        font-size: 1.7rem;
        margin-right: 1vw;
    }

    .location .where {
        font-weight: 490;
        padding-left: 9.2vw;
    }

    .location {
        font-size: 0.95rem;
        padding-bottom: 1.8vw;
        padding-top: -1vw;
        padding-left: 5vw;
        margin-left: 3vw;
        width: 55vw;
    }

    .fa-location-dot {
        font-size: 1.3rem;
        position: relative;
        top: 4vw;
        border: 0.1vw solid #f5e9fd;
        color: #a43dff;
        background-color: #f5e9fd;
        padding: 1vw 1.8vw;
        border-radius: 0.3vw;
        transition: 0.5 ease-in-out;
    }

    .form .input {
        border-bottom: 0.13vw solid #c0bebe;
        width: 75vw;
        margin-bottom: 5vw;
        margin-left: 2vw;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        height: 6vw;
    }
    .form .input3{
        display: none;
    }
     .form .input4{
        display: block;
        padding-top: 5vw;
        padding-bottom: 1.5vw;
        margin-left: 2vw;
        border-bottom: 0.13vw solid #c0bebe;
     }
   .form .input2 {
        display: flex;
        gap: 1vw;
        width: 78vw;
        height: 6vw;
        overflow-y: hidden
    }
         .form textarea {
             border: none;
             resize: none;
             outline: none;
             padding-left: 1vw;
             background-color: transparent;
         }
         .form label {
             font-size: 0.95rem;
         }
    .contact button {
        padding: 1vw 2vw 1.5vw;
        font-size: 1rem;
        border-radius: 0.3vw;
        margin-top: 8vw;
    }

    .bx-send {
        font-size: 1.2rem;
        position: relative;
        top: 0.7vw;
        left: 0.8vw;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        color: white;
        background-color: #2b384b;
        padding-top: 12vw;
        padding-bottom: 4vw;
        margin-top: 197vw;
    }

    .footer ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 45vw;
        gap: 2vw;
        margin-left: 7vw;
    }

    .footer a {
        text-decoration: none;
        color: white;
    }

    .foot {
        padding: 1.8vw 0;
        font-size: 0.9rem;
        margin-left: 4vw;
    }
    #copy{
        text-align: center;
    }
}


@media (max-width:360px) {
    body {
        background-image: url(../images/BG.jpg);
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Work Sans', sans-serif;
    }

    .one {
        margin-left: 6vw;
        margin-right: 5vw;
    }

    .logo {
        padding: 2vw 0 1.2vw;
        padding-left: 6vw;
        padding-top: 3.5vw;
    }

    .logo a {
        text-decoration: none;
        border: 0.1rem solid #a53eff;
        background-color: #a53eff;
        color: white;
        padding: 0.5vw 2vw;
        margin-right: 0.9vw;
        border-radius: 50%;
    }
     .navbar a{
        font-size: 1rem;
     }
         .navbar {
             display: block;
             box-shadow: 0 0 2px #e7e6e6;
         }
    
         .navbar ol {
             display: none;
             flex-direction: column;
             gap: 2.5vw;
             padding: 1.2vw 0;
             margin-left: 6vw;
         }
    
         .navlinks.active {
             display: flex;
         }
    
         .hamburger {
             display: flex;
             margin-left: 87vw;
         }
    .intro p {
        font-size: 0.9rem;
        width: 88vw;
        padding-bottom: 4vw;
    }

    .intro {
        flex-direction: column;
        padding-top: 8vw;
    }
        .intro img {
            left: -17.5vw;
            width: 123.5vw;
            height: 122.5vw;
            padding-top: 2vw;
        }

    .about {
        display: flex;
        flex-direction: column-reverse;
        gap: 5.5vw;
        border: 0.1vw solid white;
        padding: 6vw 5.5vw;
        border-radius: 0.7vw;
        background-color: white;
        width: 86vw;
        margin-top: 160vw;
        box-shadow: 0 0 25px #ecebeb;
        /* z-index: 1; */
    }

    .about .pics {
        width: 73.9vw;
        height: 80.5vw;
        padding-left: 0.3vw;
        position: relative;
    }

    .learn .bx-download {
        font-size: 1.2rem;
        position: relative;
        top: 0.8vw;
        left: -0.5vw;
    }

    .learn a {
        font-size: 0.9rem;
        margin-right: 1.5vw;
        padding: 1.2vw 2.5vw;
        transition: 0.6s ease-in-out;
    }

    .about p {
        font-size: 0.85rem;
        line-height: 1.5;
        width: 75vw;
        padding-bottom: 1vw;
    }

    .learn {
        padding-top: 0;
        padding-bottom: 1.5vw;
    }

    #add {
        padding-bottom: 4.5vw;
    }

    .socials {
        position: absolute;
        left: 17vw;
        font-size: 1.7rem;
        top: 165.5vw;
        background-color: white;
        padding: 0.7vw 1.8vw 0.3vw;
        border-radius: 0.3vw;
        box-shadow: 0 2px 20px #c0bebe;
        transition: 0.5s ease-in-out;
    }

    .gray {
        background-color: #f0f1f3;
        margin-top: 2vw;
    }

    #process2 {
        margin-top: 132.5vw;
    }

    .experience {
        display: flex;
        flex-direction: column;
        padding-top: 18vw;
        padding-bottom: 6vw;
        gap: 3.7vw;
        margin-left: 7vw;
        margin-right: 6vw;
    }

    .work {
        margin-top: 3vw;
    }

    .work h3 {
        font-size: 1.3rem;
        font-weight: 505;
        padding-bottom: 1.3vw;
    }

    .grid .bx {
        font-size: 3rem;
        color: #b975f5;
        background-color: #f5e9fd;
        padding: 1.5vw 2.5vw;
        margin-bottom: 0.5vw;
        border-radius: 0.3vw;
        transition: 0.5s ease-in-out;
    }

    .grid .bx:hover {
        color: white;
        background-color: #a43dff;
    }

    .work p {
        width: 85vw;
        font-size: 0.9rem;
        line-height: 1.5;
        padding-bottom: 1vw;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5vw;
        margin-top: 2vw;
        overflow: visible;
    }

    .grid h4 {
        font-size: 1.15rem;
        font-weight: 510;
        padding-bottom: 1vw;
    }

    .grid p {
        font-size: 0.9rem;
        width: 82vw;
        line-height: 1.5;
    }

    .dolor {
        border: 0.1vw solid white;
        padding: 1vw 1.5vw;
        background-color: white;
        border-radius: 0.3vw;
        padding: 3vw;
    }

    .dolor2 {
        border: 0.1vw solid white;
        padding: 1vw 1.5vw;
        background-color: white;
        border-radius: 0.3vw;
        padding: 3vw;
    }

    .portfolio {
        margin-left: 7vw;
        margin-right: 6.5vw;
        margin-top: 4vw;
        padding-bottom: 2vw;
    }

    .portfolio h3 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 510;
        letter-spacing: 0.03vw;
        padding-bottom: 0.9vw;
    }

    .portfolio p {
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.5;
        padding-bottom: 2.5vw;
    }

    .grids {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 3.5vw;
        padding-bottom: 5vw;
        gap: 4vw;
        width: 87vw;
    }

    .grids img {
        width: 85vw;
        height: 46vw;
        padding-bottom: 1vw;
    }

    .grids p {
        text-align: start;
        padding-top: 1vw;
        padding-bottom: 2vw;
        font-size: 0.9rem;
        margin-left: 1.5vw;
        padding-top: 1vw;
    }

    .cards h4 {
        margin-left: 1.5vw;
        font-weight: 510;
    }

    .cards h6 {
        margin-left: 1.5vw;
        font-weight: 500;
        padding-bottom: 0.3vw;
    }

    .cards {
        border: 0.1vw solid #d6d5d6;
        width: 85.5vw;
        border-radius: 1.5vw;
        margin-bottom: 1.2vw;
        padding-bottom: 2vw;
        transition: 0.3s ease-in-out;
    }
   .cards a {
       margin-left: 1.8vw;
       text-decoration: none;
       border: 0.1vw solid #a43dff;
       color: #a43cff;
       padding: 0.8vw 1.5vw;
       font-size: 0.72rem;
       border-radius: 0.3vw;
       transition: 0.5s ease-in-out;
   }
   .case{
    padding-bottom: 3vw;
   }
    .bx-right-arrow-alt {
        font-size: 1rem;
        position: relative;
        top: 1.1vw;
    }

    #more {
        text-decoration: none;
        color: white;
        border: 0.1vw solid #a43dff;
        background-color: #a43dff;
        padding: 1vw 2.2vw;
        font-size: 1.2rem;
        border-radius: 0.3vw;
        margin-left: 25.5vw;
        position: relative;
        top: -1.5vw;
    }
 .idea {
     background-color: #132239;
     text-align: center;
     color: white;
     padding-bottom: 8.5vw;
     margin-top: 3vw;
 }

 .idea h2 {
     font-size: 1.2rem;
     line-height: 1.4;
     font-weight: 500;
     padding-top: 6vw;
     padding-bottom: 3vw;
     letter-spacing: 0.04vw;
 }

 .idea p {
     font-size: 0.9rem;
     line-height: 1.5;
     margin: 0 6vw;
     padding-bottom: 7vw;
 }
 .idea .tablet{
    display: none;
 }
.idea .mobile{
    display: block;
}
 .idea a {
     color: white;
     text-decoration: none;
     border: 0.1vw solid #a43dff;
     background-color: #a43dff;
     padding: 1.2vw 2.5vw;
     font-size: 1.1rem;
     border-radius: 0.3vw;
 }

 .blog {
     margin-left: 7.5vw;
     margin-right: 7.5vw;
     margin-top: 4vw;
 }

 .blog h3 {
     text-align: center;
     font-size: 1.5rem;
     font-weight: 550;
     letter-spacing: 0.02vw;
     padding-bottom: 1.2vw;
     font-family: sans-serif;
 }

 .blog p {
     text-align: center;
     font-size: 0.9rem;
     line-height: 1.5;
     padding-bottom: 3vw;
 }

 .flex {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 2vw;
     padding-bottom: 1vw;
     padding-top: 1vw;
     margin-bottom: 2vw;
     width: 85vw;
 }

 .flex img {
     width: 41vw;
     height: 23.5vw;
 }

 .flex p {
     text-align: start;
     font-weight: 500;
     padding-left: 1.2vw;
     font-size: 0.8rem;
 }

 .flex h6 {
     font-size: 0.6rem;
     font-weight: 100;
     padding-bottom: 1.2vw;
     padding-top: 1.2vw;
     padding-left: 1.2vw;
     color: #0707079c;
 }

 .pagination {
     text-align: center;
 }

 .paginations {
     text-align: center;
     padding: 2vw 0 0;
 }

 .works {
     display: flex;
     flex-direction: column;
     gap: 9vw;
     padding-top: 8vw;
     padding-bottom: 5vw;
     margin-left: 7.3vw;
     margin-right: 7.3vw;
 }

 .works p {
     font-size: 0.9rem;
     width: 85vw;
     line-height: 1.5;
 }

 .done {
     padding-top: 7vw;
     padding-bottom: 3vw;
 }

 .done p {
     font-size: 0.9rem;
     padding-bottom: 1vw;
     width: 85vw;
     line-height: 1.5;
 }
  #non{
    padding-bottom: 7vw;
  }
 .user {
     margin-bottom: 3.5vw;
     border: 0.1vw solid white;
     background-color: white;
     padding: 3vw 2vw;
     border-radius: 0.3vw;
     transition: 0.5s ease-in-out;
 }
 .user h4{
    font-size: 1.3rem;
    padding-bottom: 2vw;
 }

 .works a {
     text-decoration: none;
     color: white;
     border: 0.1vw solid #a53eff;
     background-color: #a53eff;
     padding: 1.2vw 2.5vw;
     font-size: 0.9rem;
     border-radius: 0.3vw;
 }

 .client {
     margin-left: 6vw;
     margin-right: 7vw;
 }

 .client h3 {
     text-align: center;
     font-size: 1.5rem;
     font-weight: 510;
     letter-spacing: 0.02vw;
     padding-bottom: 0.9vw;
     margin-top: 5vw;
 }

 .client p {
     text-align: center;
     font-size: 0.9rem;
     line-height: 1.5;
 }

 .clients {
     display: flex;
     gap: 1vw;
 }

 .clients img {
     width: 15vw;
 }

 .review {
     margin-bottom: 0;
     margin-left: 6vw;
     margin-right: 7vw;
 }

 .review p {
     text-align: center;
     font-size: 0.9rem;
     line-height: 1.5;
 }
.customer-review{
    display: none;
}
 .customer-review2 {
    display: block;
     padding-top: 5.2vw;
     width: 85vw;
     font-weight: 490;
 }

 .review .customer-name {
     padding-top: 2vw;
     padding-bottom: 0.9vw;
     font-weight: 505;
     font-size: 1.2rem;
 }


 .contact {
     display: flex;
     flex-direction: column;
     margin-top: 1373vw;
     padding-bottom: 6vw;
     gap: 4vw;
     width: 86vw;
     padding: 3vw 2.5vw 0;
     background-color: white;
     border: 0.1px solid #fcf9f9;
     border-radius: 0.3vw;
     box-shadow: 0 -3px 20px #dbdada;
 }

 .discuss {
     margin-bottom: 4vw;
 }

 .bottom-margin {
     margin-bottom: 1vw;
     padding: 0.3vw 0;
 }

 .discuss h3 {
     font-weight: 510;
     letter-spacing: 0.02vw;
     padding-bottom: 1.5vw;
     font-size: 1.5rem;
     padding-left: 1vw;
 }

 .contact p {
     font-size: 0.9rem;
     line-height: 1.5;
     padding-bottom: 1vw;
 }

 .form p {
     padding-bottom: 3.5vw;
     padding-top: 0.5vw;
 }

 .form {
     padding-bottom: 8vw;
 }

 .laptop {
     display: none;
 }

 .tablet {
     display: block;
 }

 .icons {
     padding-top: 2vw;
     padding-left: 2vw;
 }

 .icons a {
     font-size: 1.7rem;
     margin-right: 1vw;
 }

 .location .where {
     font-weight: 490;
     padding-left: 12.2vw;
 }

 .location {
     font-size: 0.95rem;
     padding-bottom: 1.8vw;
     padding-top: -1vw;
     padding-left: 5vw;
     margin-left: 3vw;
     width: 55vw;
 }

 .fa-location-dot {
     font-size: 1.3rem;
     position: relative;
     top: 5.5vw;
     border: 0.1vw solid #f5e9fd;
     color: #a43dff;
     background-color: #f5e9fd;
     padding: 1.3vw 2.5vw;
     border-radius: 0.3vw;
     transition: 0.5 ease-in-out;
 }

 .form .input {
     border-bottom: 0.13vw solid #c0bebe;
     width: 75vw;
     margin-bottom: 5vw;
     margin-left: 2vw;
     overflow: hidden;
     transition: 0.3s ease-in-out;
     height: 6vw;
 }

 .form .input3 {
     display: none;
 }

 .form .input4 {
     display: block;
     padding-top: 5vw;
     padding-bottom: 1.5vw;
     margin-left: 2vw;
     border-bottom: 0.13vw solid #c0bebe;
 }

 .form .input2 {
     display: flex;
     gap: 1vw;
     width: 78vw;
     height: 6vw;
     overflow-y: hidden
 }

 .form textarea {
     border: none;
     resize: none;
     outline: none;
     padding-left: 1vw;
     background-color: transparent;
 }

 .form label {
     font-size: 0.95rem;
 }

 .contact button {
     padding: 1vw 2vw 1.5vw;
     font-size: 1rem;
     border-radius: 0.3vw;
     margin-top: 8vw;
     margin-left: 2vw;
 }

 .bx-send {
     font-size: 1.2rem;
     position: relative;
     top: 0.8vw;
     left: 0.8vw;
 }

 .footer {
     display: flex;
     flex-direction: column;
     gap: 3vw;
     color: white;
     background-color: #2b384b;
     padding-top: 12vw;
     padding-bottom: 4vw;
     margin-top: 222vw;
 }

 .footer ul {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     width: 50vw;
     gap: 3vw;
     margin-left: 7vw;
 }

 .footer a {
     text-decoration: none;
     color: white;
 }

 .foot {
     padding: 1.8vw 0;
     font-size: 0.9rem;
     margin-left: 4vw;
 }

 #copy {
     text-align: center;
 }
    
}